.App {
  text-align: center;
}

/* Helpers */
.padtop {
  padding-top: 30px;
}

/* TextBox Component */

.logo {
  font-size: 4rem;
  color: var(--purple);
}

.article-link {
  color: var(--yellow);
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.5rem;
}

.typeBodyStyle {
  font-size: 1.2rem;
  font-weight: 550;
}

.text__bar{
  padding: 5px;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: black;
  background-color: white;
  font-size: 16px;
  color: black;
  border-radius: 5px;
}

.neutralChar {
  color: var(--grey);
}

.correctChar {
  color: var(--correct);
}

.wrongChar {
  color: var(--error);
}
