.App {
  text-align: center;
}

/* Atomic Helpers */
.pad {
  padding-top: 20px;
  padding-bottom:20px;
}

.flex-container {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

/* TextBox Component */
.logo {
  font-size: 2.8rem;
  color: var(--purple);
}

.intro {
  color: var(--yellow);
  font-size: 1.5rem;
}

.article-link {
  color: var(--yellow);
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.5rem;
}

.typeBodyStyle {
  font-size: 1.2rem;
  font-weight: 550;
  height: 300px;
  width: auto;
  overflow: auto;
}

.timer-score-label {
  color: var(--grey);
  font-weight: bold;
  text-decoration: underline;
}

#timer {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: bold;
}

#score {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: bold;
}

.typeHereStyle{
  padding: 5px;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: black;
  background-color: white;
  font-size: 16px;
  color: black;
  border-radius: 5px;
}

.neutralChar {
  color: var(--grey);
}

.correctChar {
  color: var(--correct);
}

.wrongChar {
  color: var(--error);
}
