:root {
  --background: #282c34;
  --error: #E06C75;
  --correct: #98C379;
  --blue: #61AFEF;
  --yellow: #E5C07B;
  --purple: #C678DD;
  --turqouise: #56B6C2;
  --grey: #ABB2BF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  font-family: Menlo, Monaco, Courier;
}

a {
  text-decoration: none;
}
